@model OrderViewModel

<form method="post" asp-action="UpdateOrderStatus" asp-controller="Order">
    <div class="row p-sm-5">
        <div class="row-6">
            <table class="table">
                <tr>
                    <td>Date and Time</td>
                    <td>@Model.CreatedDateTime.ToString("g")</td>
                </tr>
                <tr>
                    <td>Delivery adress</td>
                    <td>@Model.UserDeliveryInfo.Address</td>
                </tr>
                <tr>
                    <td>Optional delivery adress</td>
                    <td>@Model.UserDeliveryInfo.AddressOptional</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>
                        @Model.UserDeliveryInfo.FirstName
                        @Model.UserDeliveryInfo.LastName
                    </td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>
                        @Model.UserDeliveryInfo.PhoneNumber
                    </td>
                </tr>
                <tr>
                    <td>Cost</td>
                    <td>
                        @Model.Cost
                    </td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>
                        <select asp-for="@Model.Status"
                                asp-items="@Html.GetEnumSelectList<OrderStatusViewModel>()"
                                class="form-control">
                        </select>
                    </td>
                </tr>
            </table>
            <button class="btn btn-outline-dark" type="submit" asp-area="Admin" asp-controller="Order" asp-action="UpdateOrderStatus" asp-route-orderId="@Model.Id">Update Status</button>

        </div>
    </div>
</form>
