@model List<OrderViewModel>

<div class="container-fluid">
    <div class="row flex-row border-bottom align-self-center">

        <div class="flex-column col-sm m-0 p-0 border-top-0 border-right-0 ">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Total</th>
                        <th scope="col">Status</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <th scope="row">@(i+1)</th>
                            <td>@Model[i].Cost</td>
                            <td>@DisplayName.GetDisplayName(Model[i].Status)</td>
                            <td>@Model[i].CreatedDateTime.ToString("d")</td>
                            <td>@Model[i].CreatedDateTime.ToString("t")</td>
                            <td>
                                <a class="text-dark" asp-area="Admin" asp-controller="Order" asp-action="Details" asp-route-orderId="@Model[i].Id">Details</a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="flex-column col-sm-2 p-0 border-left">
            @await Html.PartialAsync("_AdminPanel")
        </div>
    </div>
 </div>
